div#div1 {text-align: center;background-color: white; opacity: 0.5;}
body { font-family: Verdana, sans-serif; background-color: #D2DC9D;}
div#info p{font-style: italic; color: #D3D3D3;}
span.label{color:  #808080;font-style: normal;font-weight: bold;}
span.price{color: #808080;font-family: georgia; font-style: italic;}
h1 {color:  #993399;font-family: "Marko one",Geogia; text-shadow: .1em .1em .1em silver; font-size: 1.5em;}
h2 {text-align: center; letter-spacing: 8px; text-transform: uppercase;font-size: 1em; color:  #CC6600;}
div#appetizers li{list-style-type: none;}
dt{color: #A0522D; font-weight: bolder;}
strong{color: #FF6347;}
p.warning{color: red;}
li.c1{list-style-type: lower-roman;}
li.c2{list-style-type: circle;}
li.c3{list-style-type: disc;list-style-position: inside;}
li.c4{list-style-image: url(/tp2Input/images/bull.PNG); font-size: 3em;}

